name: seplag2026

services:
  postgres:
    image: postgres:17
    container_name: seplag2026-postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 5s
      retries: 20

  minio:
    image: minio/minio:latest
    container_name: seplag2026-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:9000/minio/health/ready > /dev/null"]
      interval: 5s
      timeout: 5s
      retries: 20

  minio-init:
    image: minio/mc:latest
    container_name: seplag2026-minio-init
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minio minio12345;
      mc mb -p local/app-bucket || true;
      "
    restart: "no"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: seplag2026-backend
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/app
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: app

      APP_S3_ENDPOINT: http://minio:9000
      APP_S3_PUBLIC_ENDPOINT: http://localhost:9000
      APP_S3_REGION: us-east-1
      APP_S3_ACCESS_KEY: minio
      APP_S3_SECRET_KEY: minio12345
      APP_S3_BUCKET: app-bucket

      # APP_JWT_SECRET: "coloque-um-segredo-forte-aqui"
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8080/actuator/health/readiness > /dev/null"]
      interval: 10s
      timeout: 5s
      retries: 20

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: seplag2026-frontend
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "8082:80"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost/healthz >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

volumes:
  pgdata:
  miniodata:
